#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-title {
  font-size: 30pt;
  color: brown;
}

.shopping-item-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
}

